extends ../blocks/layout

block append styles
    link(rel='stylesheet', type='text/css', href='/styles/dashboard/categories.css')

block content
    div.dashboard
        div.page-content
            include ../blocks/header
            div.inner-content
                p Will be ready soon
