extends blocks/layout

block append styles
    link(rel='stylesheet', type='text/css', href='/styles/homepage.css')

block content
    div.homepage
        div.page-content
            include blocks/header
            div.content
                div
                    h1 Don't forget something important
                    p Do it! is powerful task management software for busy professionals. With tools to help tame the chaos, you can focus on the right tasks at the right time.
                    button Exlore
                img(src='/images/todo.svg')
