extends blocks/layout

block append styles
    link(rel='stylesheet', type='text/css', href='/styles/homepage.css')

block content
    div.homepage
        div.page-content
            header
                span.logo Do it!
                div
                    if isUserLoggedIn
                        a(href='/dashboard') Dashboard
                    else
                        a(href='/login') Login
                        a(href='/register') Create an account
                    a(href='/contact-us') Contact us
            div.content
                div
                    h1 Don't forget something important
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                    button Exlore
                img(src='/images/todo.svg')
            div.bottom-shape
