header(class=isDashboard ? 'dashboard-header' : '')
    div
        span.logo
            a(href='/') Do it!
        div
            if isUserLoggedIn
                a(href='/dashboard') Dashboard
                a(href='/logout') Logout
            else
                a(href='/login') Login
                a(href='/register') Create an account
    if isDashboard
        div.dashboard-menu
            a(href='') Todo list
            a(href='') Teams
