<!DOCTYPE html>
html
    head
        title=title
        block styles
            link(rel='stylesheet', type='text/css', href='/styles/app.css')
            link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap')
    body
        block content
        block scripts
            script(src='/js/app.js')