.inner-content {
    margin: 75px auto 0 auto;
}
.todo-list {
    padding: 48px;
    background: white;
    border-radius: 8px;
    border: 1px solid #333333;
}
.todo-list h3 {
    color: #333333;
    margin: 0 0 24px 0;
}
.todo-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}
.todo-item form {
    margin: 0;
}
.todo-item > div {
    display: flex;
    align-items: center;
}
.todo-item form input[type='checkbox']:checked + label span {
    background-color: #29ABE2;
    border-color: #29ABE2;
}
.todo-item form input[type='checkbox'] + label span  {
    width: 32px;
    height: 32px;
    border: 2px solid #B4B4B4;
    margin-right: 24px;
    display: flex;
    border-radius: 4px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}
.todo-item form input[type='checkbox'] + label span img {
    width: 18px;
    display: none;
}
.todo-item form input[type='checkbox']:checked + label span img {
    display: block;
}
.todo-list p {
    color: #333333;
    text-align: center;
}
.todo-item p {
    color: #333333;
}
.actions form {
    display: flex;
    align-items: center;
}
.actions {
    display: flex;
}
.actions button,
.actions a {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.actions a:first-of-type {
    background-color: #6200ee;
}
.actions button:nth-child(2) {
    background-color: #005AD5;
}
.actions img {
    width: 18px;
}
form {
    margin-top: 16px;
}
form > div {
    display: flex;
}
.todo-list-buttons {
    margin-top: 16px;
    display: flex;
}
.todo-list-buttons button {
    width: 100px;
    height: 40px;
    margin-right: 10px;
    border-radius: 4px;
    border: none;
    background-color: #005AD5;
    color: white;
    font-weight: 600;
    outline: none;
    cursor: pointer;
}
.todo-list-buttons form {
    margin: 0;
    color: white;
    display: flex;
    align-items: center;
    position: relative;
}
.todo-list-buttons form input {
    margin-bottom: 1px;
}
.todo-list-buttons form .inputError {
    position: absolute;
    bottom: -11px;
    font-size: 10px;
}
.todo-form input {
    width: 100%;
    height: 40px;
    border: 1px solid #333333;
    border-radius: 4px;
    padding: 0 15px;
    margin-bottom: 15px;
}
.todo-form input.hasError {
    border-color: red;
}
.inputError {
    color: red;
    font-size: 12px;
    margin-top: -7px;
    margin-bottom: 5px;
}
